/.settings
/bin
/.gradle
/GGGame-common/.gradle
/GGGame-common/.settings
/GGGame-common/bin
/GGGame-core/.gradle
/GGGame-core/.settings
/GGGame-core/bin
/GGGame-example/.gradle
/GGGame-example/.settings
/GGGame-gate/.gradle
/GGGame-gate/.settings
/GGGame-gate/bin
/GGGame-master/.gradle
/GGGame-master/.settings
/GGGame-master/bin
/GGGame-protocol/.gradle
/GGGame-protocol/.settings
